@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[class~='dark'] {
    --text: 60deg 12% 97%;
    --background: 248deg 71% 4%;
    --primary: 227deg 20% 40%;
    --secondary: 227deg 38% 53%;
    --accent: 220.7deg 46.2% 51.2%;
  }

  :root[class~='light'] {
    --text: 52deg 37% 8%;
    --background: 48deg 33% 97%;
    --primary: 198deg 50% 43%;
    --secondary: 262deg 36% 81%;
    --accent: 193.5deg 51% 39.2%;
  }

  ::-webkit-scrollbar {
    width: auto;
  }

  ::-webkit-scrollbar-track {
    background: #f7f7f7;
  }

  ::-webkit-scrollbar-thumb {
    background: #bbb;
    border: 0.25em solid #f7f7f7;
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9;
  }

  #__next {
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .light #logo {
    fill: #318097;
  }

  .dark #logo {
    fill: #496ebc;
  }
}
