@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[class~='dark'] {
    --text: 48deg 33% 97%;
    --background: 173deg 80% 2%;
    --primary: 43deg 100% 50%;
    --secondary: 217deg 30% 19%;
    --accent: 43deg 100% 50%;
  }

  :root[class~='light'] {
    --primary: 43deg 100% 50%;
    --text: 45deg 40% 2%;
    --background: 0deg 0% 98.8%;
    --primary: 43deg 100% 50%;
    --secondary: 260deg 16% 96%;
    --accent: 223deg 36% 50%;
  }

  #__next {
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .light #logo {
    fill: #526cad;
  }

  .dark #logo {
    fill: #ffb700;
  }
}
